# Node
node_modules/
npm-debug.log*
package-lock.json

# Java/Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
*.class

# Angular
dist/
*.js.map
.angular/
coverage/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
.env

# Logs
*.log

# Puppeteer / Chrome
chrome/
